<p id="notice"><%= notice %></p>

<p>
  <strong>詳細な項目</strong>
  <%= @shop_detail_type.detail_tag_name %>
</p>

<%= link_to 'Edit', edit_shop_detail_type_path(@shop_detail_type) %> |
<%= link_to 'Back', shop_detail_types_path %>
